/* Universal element tags */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header element tags */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    font-size: 24px;
    padding: 0 35px;
}

/* Section element tags */
section {
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

section img {
    padding: 0 35px;
}